<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Orangeleaf Systems Ltd logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Our CollectionsBase Newsletter</p>
			<p>Subscribe for news and tips from the world of online collections publishing.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Website Sections</h3>
				<ul class="mb3">
					<li><a href="/" class="link" title="Go to the homepage of our website">Home</a></li>
					<li><a href="/products" class="link" title="View details of our digital heritage products">Products</a></li>
					<li><a href="/services" class="link" title="Our consultancy and production services">Services</a></li>
					<li><a href="/post" class="link" title="Case studies of our recent work">Portfolio</a></li>
					<li><a href="/contact" class="link" title="Our address, telephone and email details">Contact</a></li>
					<li><a href="/legal" class="link" title="Our privacy, accessibility, modern slavery, data protection statements">Legal</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li>Call us on 01743 352000</li>
					<li><a href="/contact" class="link">Contact us by email</a></li>
					<li><a href="http://status.orangeleaf.com" class="link" title="Uptime and announcements for platform">Systems Status</a></li>
					<li><a href="https://support.orangeleaf.com" class="link" title="Go to the support area for clients">Support Helpdesk</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/collectionsbase/" "svg" "icons-facebook" "txt" "Facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/ojleaf" "svg" "icons-twitter" "txt" "Twitter") }}
				</ul>
			</div>

		</div>
		
		<div class="measure-narrow center mb4"><p>©Copyright 1998-2020<br/>
Orangeleaf Systems Ltd, Barkers Chambers, Barker Street, Shrewsbury, Shropshire, SY1 1SB UK, +44(0)1743 352000<br/>
VAT 709 2483 28 | Registered in England No. 3648762</p></div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '3bc718a1-c963-4b4f-8999-79e3ec01a680', f: true }); done = true; } }; })();</script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
    	"background": "#efefef",
        "text": "#000000"
    },
    "button": {
      "background": "#f6921e"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Our website uses some cookies",
    "dismiss": "Accept",
    "link": "Read our privacy statement",
    "href": "/legal"
  }
});
</script>
