<head>
	<title>UK Digital Heritage Consultants : Orangeleaf Systems Ltd {{ .Title }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="toggle.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">
	<!-- We are hiring.  Interested in working at the cutting edge of information technology for the heritage sector? Contact us via Twitter or GitHub and show us what you can do. All recruitment agents will be ignored. -->
	<!-- Open Graph -->
	<meta property="og:type" content="business.business"/>
	<meta property="og:title" content="UK Digital Heritage Consultants Orangeleaf Systems Ltd"/>
	<meta property='og:description' content="Established since 1998, Orangeleaf Systems Ltd are the UK's leading Digtial Heritage consultancy"/>
	<meta property="og:url" content="https://www.orangeleaf.com/"/>
	<meta property="og:image" content="/img/og-image.jpg"/>
	<meta name="description"  content="Shrewsbury Shropshire based web application developers specialising in web applications and web sites for museums and archives and public sector" />
	<meta name="keywords"  content="shropshire, shrewsbury, web designers, telford, wolverhampton, birmingham web designers, developers, museums, archives, charities, public sector" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

