<head>
	<title>UK Digital Heritage Consultants : Orangeleaf Systems Ltd {{ .Title }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="/toggle.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">
	<!-- We are hiring.  Interested in working at the cutting edge of information technology for the heritage sector? Contact us via Twitter or GitHub and show us what you can do. All recruitment agents will be ignored. -->
	<!-- Open Graph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{ .Title }}"/>
	<meta property='og:description' content="Established since 1998, Orangeleaf Systems Ltd are one of the UK's leading Digital Heritage consultancies. {{ .Description }}"/>
	<meta property="og:url" content="https://www.orangeleaf.com/"/>
	{{ if .Params.image }}<meta property="og:image" content="https://www.orangeleaf.com/{{ .Params.image }}"/>{{ end }}

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@ojleaf" />
	<meta name="twitter:title" content="{{ .Title }}" />
	<meta name="twitter:description" content="{{ .Description }}" />
	{{ if .Params.image }}<meta name="twitter:image" content="https://www.orangeleaf.com/{{ .Params.image }}" />{{ end }}


	<meta name="description"  content="Shrewsbury Shropshire based web application developers specialising in web applications and web sites for museums and archives and public sector" />
	<meta name="keywords"  content="shropshire, shrewsbury, web designers, telford, wolverhampton, birmingham web designers, developers, museums, archives, charities, public sector" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script type="text/javascript">
	  var _paq = window._paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//analytics.orangeleaf.com/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
</head>

