<nav class="flex items-center center bg-white divider-grey relative">
	<a href="/" class="pa3 db mr4 h-100 w5 flex-none"><img src="/img/logotype.svg" alt="Orangeleaf Systems Ltd Logo" class="br0 db mb0 w-100"/></a>
	<ul class="flex b grey-3 dn db-ns" id="topnav">
		<li><a href="/products" class="pa3 no-underline dn db-ns">Products</a></li>
		<li><a href="/services" class="pa3 no-underline dn db-ns">Services</a></li>
		<li><a href="/post" class="pa3 no-underline dn db-ns">Portfolio</a></li>
		<li><a href="/contact" class="pa3 no-underline dn db-ns">Contact</a></li>
	</ul>
	<a href="javascript:void(0);" class="pa3 no-underline dn-m dn-l" onclick="toggle()"><i class="fa fa-bars"></i>Menu</a>
</nav>
