{{ if gt .Paginator.TotalPages 1 }}
<nav class="cf pa3" aria-label="Pagination">
    {{ if .Paginator.HasPrev }}
    <a class="fl dib link dim black f6 f5-ns b pa2" rel="prev" title="Previous Page" href="{{ .Paginator.Prev.URL }}">
        &larr; Previous
    </a>
    {{ end }}
    <div class="pagination fr">
        {{ if .Paginator.HasNext }}
        <a class="dib link dim black f6 f5-ns b pa2" rel="next" title="Next Page" href="{{ .Paginator.Next.URL }}">
            Next &rarr;
        </a>
        {{ end }}
    </div>
</nav>
{{ end }}